* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-size: calc(10px + 0.5vw);
    font-family: Arial, Helvetica, sans-serif;

    --theme-bg-color: rgb(224, 233, 238);
    --theme-color: rgb(41, 160, 230);
    --theme-accent-color: rgb(255, 198, 13);
    --theme-content-color: rgb(119, 119, 119);
    --theme-shadow-color: rgb(185, 185, 185);
}

.user-pic {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: var(--theme-accent-color);
}

#container {
    display: grid;
    grid: auto 1fr / minmax(calc(150px + 5vw), max-content) 1fr;
}

#sidebar {
    background-color: var(--theme-color);
    color: white;
    padding: 1rem;
    font-weight: bold;
    min-height: 100vh;

    grid-row: 1 / span 2;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 3rem;
}

#logo {
    font-size: 1.3rem;

    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 0.5rem;
    align-items: center;
}

#logo svg {
    height: 2.5rem;
}

ul {
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    gap: 1rem;
}

.menu {
    padding: 0 1rem;
}

.menu li {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 1rem;
    align-items: center;
}

li svg {
    height: 1.1rem;
}

#header {
    padding: 1rem 2rem;
    font-weight: bold;

    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
}

#header-top {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap: 1rem;
}

#search-bar {
    background-color: var(--theme-bg-color);
    border-radius: 1rem;
    width: 80%;
    height: 1.6rem;
}

#header-bottom {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

#header-bottom .user,
#trending .user {
    display: grid;
    grid: auto auto / auto 1fr;
    align-items: center;
    gap: 0.2rem;
}

#header-bottom .user-pic,
#trending .user-pic {
    margin-right: 0.8rem;

    grid-row: 1 / span 2;
}

.user .user-id,
.user .greeting {
    align-self: end;
}

.user .user-name,
.user .user-intro {
    align-self: start;
}

#header-bottom .greeting {
    font-size: 0.8rem;
}

#header-bottom .user-name {
    font-size: 1.2rem;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
}

#header-bottom .button {
    background-color: var(--theme-color);
    color: white;
    border-radius: 1.5rem;
    padding: 0.4rem 1.2rem;
    font-size: 0.8rem;
}

#board {
    background-color: var(--theme-bg-color);
    padding: 1rem;

    display: grid;
    grid: min-content 1fr / 3fr 1fr;
    gap: 1rem;
}

.heading {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 0.1rem 0.8rem;
}

#projects {
    grid-row: 1 / span 2;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
    width: 100%;
    
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 5px var(--theme-shadow-color);
    padding: 1.5rem;
}

#projects .card {
    min-height: 150px;

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0.2rem;
}

#projects .card .actions {
    justify-self: end;
}

#projects svg {
    height: 1rem;
}

#projects .title {
    font-weight: bold;
    padding-top: 0.6rem;
}

.content,
.user-intro {
    color: var(--theme-content-color);
    font-size: 0.9rem;
}

#announcements .card {
    min-width: calc(150px + 10vw);

    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    gap: 1rem;
}

#announcements .title {
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.1rem 0;
}
#announcements .content {
    font-size: 0.85rem;
}

.announcement {
    border-top: 1px solid var(--theme-shadow-color);
    padding-top: 1rem;
}

.announcement:first-child {
    border-top: 0;
    padding-top: 0.3rem;
}

#trending .card {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    gap: 1rem;
}

#trending .user-id,
#trending .user-intro {
    font-size: 0.8rem;
}